/* styles/Home.module.css */
.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    
  }
  
  .main {
    width: 100%;
  }
  
  .section {
    padding: 4rem 2rem;
    border-bottom: 1px solid #444;
  }
  
  .homeSection {
    margin-top: 8%;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url('/assets/splashblue.png');
    background-size: 50%; /* Adjust the size to contain */
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: right center; /* Adjust the position to the right and center vertically */
    padding-bottom:0 ;
  }
  
  .intro {
    max-width: 600px;
    z-index: 1; /* Ensure intro content is above the background image */
  }
  
  .intro h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .intro h2 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .intro p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .imageContainer {
    margin-left: 2rem;
    max-width: 400px; /* Ensure the container doesn't exceed the max width */
    height: 600px; /* Set the desired height */
    overflow: hidden; /* Hide the overflow to crop the image */
    position: relative; /* Position relative for pseudo-element */
    margin-left: 30%;

  }
  
  .profileImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: grayscale(100%);
    object-fit: cover; /* Ensure the image covers the container */
    object-position: top; /* Align the top part of the image within the container */
  }
  
  .imageContainer::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust the height for the blur effect */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    filter: blur(1px); /* Adjust the blur level as needed */
  }
  
  .contactMeBtn {
    background-color: #4797ff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 1rem;
  }

  
  
  